<!--div class="links">
	< %= link_to "Home"%> | < %= link_to "Editar Perfil"%> | < %= link_to "Sair", sign_out_path, method: "delete" % >
</div-->

<div class= "imagem">
	<%= image_tag "criador_rails.jpg" %>
</div>

<div class="perfil">
 <%= " fhdusfhsdudfhdsfh hfudhfudifsdhui hfudhfdsuif hfudhfdhf fudhfudhfudhfsdu "%>
</div>

<div class="endereco">
		
</div>